
    <div id="restaurant-basic-info">
      <img src='{{this.image}}'>
      <a href="/restaurants/{{this.id}}">
        <h2>{{this.name}}</h2>
      </a>
      <p>Priority: {{this.priority}}</p>
      <p>Cuisine: {{this.cuisine}}</p>
      <p>Neighborhood: {{this.neighborhood}}</p>
      <p>Budget: {{this.budget}}</p>
  
    </div>
