<h2>Find a restaurant here</h2>
<form action="/restaurants/find" method="post">

    <label> Name:
        <input type="text" name="name" placeholder="Find restaurant"/>
    </label>

    <label> Neighborhood:
        <select name="neighborhood">
            <option></option>
            {{#each neighborhood }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select>
    </label>

    <label> Cuisine:
        <select name="cuisine">
            <option></option>
            {{#each cuisine }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Budget:
        <select name="budget">
            <option></option>
            {{#each budget }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Priority:
        <select name="priority">
            <option></option>
            {{#each priority }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Ambience:
        <select name="ambience">
            <option></option>
            {{#each ambience }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Vegan Menu:
        <select name="veganMenu">
            <option></option>
            {{#each veganMenu }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Gluten Free Options:
        <select name="glutenFree">
            <option></option>
            {{#each glutenFree }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>


    <button type="submit"> Find </button>
</form>

<a href="/restaurants"> List of all restaurants here!</a>