<h2>Add a new restaurant here</h2>

<form class='rest-form' action="/restaurants/new" method="post">
    <label> Name:
        <input type="text" name="name" />
    </label>

    <label> Neighborhood:
        <select name="neighborhood">
            {{#each neighborhood }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Cuisine:
        <select name="cuisine">
            {{#each cuisine }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Budget:
        <select name="budget">
        {{#each budget }}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
    </label>

    <label> Priority:
        <select name="priority">
            {{#each priority }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Ambience:
        <select name="ambience">
            {{#each ambience }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Vegan Menu:
        <select name="veganMenu">
            {{#each veganMenu }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Gluten Free Options:
        <select name="glutenFree">
            {{#each glutenFree }}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label> Notes:
        <textarea rows="5" cols="40" name="notes"></textarea>

    </label>

    <button type="submit"> Add </button>
</form>

{{> navbar }}
{{!-- 
<a href="/restaurants"> List of all restaurants here!</a> --}}