<h2>see your restaurant detailed info here</h2>
<div id="restaurant-card-container">
    <div>
        <h2>{{foundRestaurant.name}}</h2>

        <p>Neighborhood: {{foundRestaurant.neighborhood}}</p>
        <p>Cuisine: {{foundRestaurant.cuisine}}</p>
        <p>Budget: {{foundRestaurant.budget}}</p>
        <p>Priority: {{foundRestaurant.priority}}</p>
        <p>Ambience: {{foundRestaurant.ambience}}</p>
        <p>Notes: {{foundRestaurant.notes}}</p>
        <br>
    </div>
    <div>
        <form method="POST" action="/{{foundRestaurant.id}}/delete">
            <button>Delete restaurant</button>
        </form>

        <form method="GET" action="/{{foundRestaurant.id}}/update">
            <button type="submit">Update restaurant</button>
        </form>
    </div>
</div>

<a href="/"> Go back to all restaurants here!</a>