
<div id="restaurant-card-container">
    <h2 class='p10b'><span>{{foundRestaurant.name}}</span> details:</h2>
    <div>
        <img class='p10b' src='{{foundRestaurant.image}}'>

        
        <p><span>Priority:</span> {{foundRestaurant.priority}}</p>
        <p><span>Cuisine:</span> {{foundRestaurant.cuisine}}</p>
        <p><span>Neighborhood:</span> {{foundRestaurant.neighborhood}}</p>
        <p><span>Budget:</span> {{foundRestaurant.budget}}</p>        
        <p><span>Ambience:</span> {{foundRestaurant.ambience}}</p>
        <p><span>Vegan Menu:</span> {{foundRestaurant.veganMenu}}</p>
        <p><span>Gluten Free Options:</span> {{foundRestaurant.glutenFree}}</p>
        <p><span>Notes:</span> {{foundRestaurant.notes}}</p>
        <br>
    </div>

    <div id='button-container'>
        <form class='rest-card-form' method="GET" action="/restaurants/{{foundRestaurant.id}}/update">
            <button class='rest-card-button' type="submit">Update restaurant</button>
        </form>
        <form id="form1" class='rest-card-form' method="POST" action="/restaurants/{{foundRestaurant.id}}/delete">
            <button class='rest-card-button'>Delete restaurant </button>
        </form>
    </div>
</div>

{{> navbar }}

