<div id="rest-list-container">

    <div id="rest-user-container">
        {{#if currentUser}}
            <h1>{{ currentUser.name }}'s restaurants</h2>
        {{/if}}
    </div>

{{!-- <div id="restaurant-list-container">
    {{#each returnedRestaurants}}
    <div id="restaurant-card">
        <img src='{{image}}'>
        <a href="/restaurants/{{id}}">
            <h2>{{name}}</h2>
        </a>
        <p>Priority: {{priority}}</p>
        <p>Cuisine: {{cuisine}}</p>
        <p>Neighborhood: {{neighborhood}}</p>
        <p>Budget: {{budget}}</p>

    </div>
    {{/each}}
</div> --}}

    <div>
        {{> restaurantBasicInfo }}
    </div>
</div>

<a href="/restaurants/new"> Create new restaurant here!</a>
<a href="/restaurants/find"> Find a restaurant here!</a>

