<h2 class='p10b'>{{foundRestaurant.name}} details:</h2>
<div id="restaurant-card-container">
    <div>
        <img class='p10b' src='{{foundRestaurant.image}}'>

        
        <p>Priority: {{foundRestaurant.priority}}</p>
        <p>Cuisine: {{foundRestaurant.cuisine}}</p>
        <p>Neighborhood: {{foundRestaurant.neighborhood}}</p>
        <p>Budget: {{foundRestaurant.budget}}</p>        
        <p>Ambience: {{foundRestaurant.ambience}}</p>
        <p>Vegan Menu: {{foundRestaurant.veganMenu}}</p>
        <p>Gluten Free Options: {{foundRestaurant.glutenFree}}</p>
        <p>Notes: {{foundRestaurant.notes}}</p>
        <br>
    </div>

    <div id='button-container'>
        <form class='rest-form' method="POST" action="/restaurants/{{foundRestaurant.id}}/delete">
            <button class='rest-button'>Delete restaurant</button>
        </form>

        <form class='rest-form' method="GET" action="/restaurants/{{foundRestaurant.id}}/update">
            <button class='rest-button' type="submit">Update restaurant</button>
        </form>
    </div>
</div>

<a href="/restaurants"> Go back to all restaurants here!</a>