<h1>My restaurants</h1>
{{#if currentUser}}
<h1>Welcome, {{ currentUser.name }}!</h2>
{{/if}}

<div id="restaurant-list-container">
    {{#each returnedRestaurants}}
    <div id="restaurant-card">

        <a href="/restaurants/{{id}}">
            <h2>{{name}}</h2>
        </a>
        <p>Priority: {{priority}}</p>
        <p>Cuisine: {{cuisine}}</p>
        <p>Neighborhood: {{neighborhood}}</p>
        <p>Budget: {{budget}}</p>

    </div>
    {{/each}}
</div>

<a href="/restaurants/new"> Create new restaurant here!</a>
<a href="/restaurants/find"> Find a restaurant here!</a>

