<h2>see your restaurant detailed info here</h2>
<div id="restaurant-card-container">
    <div>
        <img src='{{foundRestaurant.image}}'>
        <h2>{{foundRestaurant.name}}</h2>
        
        <p>Priority: {{foundRestaurant.priority}}</p>
        <p>Cuisine: {{foundRestaurant.cuisine}}</p>
        <p>Neighborhood: {{foundRestaurant.neighborhood}}</p>
        <p>Budget: {{foundRestaurant.budget}}</p>        
        <p>Ambience: {{foundRestaurant.ambience}}</p>
        <p>Vegan Menu: {{foundRestaurant.veganMenu}}</p>
        <p>Gluten Free Options: {{foundRestaurant.glutenFree}}</p>
        <p>Notes: {{foundRestaurant.notes}}</p>
        <br>
    </div>

{{!-- <div>
    {{> restaurantBasicInfo }}
</div> --}}

    <div>
        <form method="POST" action="/restaurants/{{foundRestaurant.id}}/delete">
            <button>Delete restaurant</button>
        </form>

        <form method="GET" action="/restaurants/{{foundRestaurant.id}}/update">
            <button type="submit">Update restaurant</button>
        </form>
    </div>
</div>

<a href="/restaurants"> Go back to all restaurants here!</a>