<h2>update restaurant {{restaurantToEdit.name}} info here</h2>
<form action="/restaurants/{{restaurantToEdit.id}}/update" method="post">
    <label> Name:
        <input type="text" name="name" value="{{restaurantToEdit.name}}" />
    </label>

    <label> Neighborhood:
        <select name="neighborhood">
            <option value="{{restaurantToEdit.neighborhood}}">{{restaurantToEdit.neighborhood}}</option>
            <option value="Raval">Raval</option>
            <option value="Born">Born</option>
            <option value="Barceloneta">Barceloneta</option>
            <option value="Eixample Left Side">Eixample Left Side</option>
            <option value="Eixample Right Side">Eixample Right Side</option>
            <option value="Gracia">Gracia</option>
            <option value="Poble Sec">Poble Sec</option>
            <option value="Uptown">Uptown</option>
            <option value="Sants">Sants</option>
            <option value="Poble Nou">Poble Nou</option>
            <option value="Other">Other</option>
        </select>
    </label>

    <label> Cuisine:
        <select name="cuisine">
            <option value="{{restaurantToEdit.cuisine}}">{{restaurantToEdit.cuisine}}</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Creative">Creative</option>
            <option value="Venezuelan">Venezuelan</option>
            <option value="Tapas">Tapas</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="Mexican">Mexican</option>
            <option value="Thai">Thai</option>
            <option value="Other">Other</option>
        </select>
    </label>

    <label> Budget:
        <select name="budget">
            <option value="{{restaurantToEdit.budget}}">{{restaurantToEdit.budget}}</option>
            <option value="10-20e">10-20e</option>
            <option value="20-50e">20-50e</option>
            <option value="51-100e">51-100e</option>
            <option value="+100e">+100e</option>
        </select>
    </label>

    <label>Priority:
        <select name="priority">
            <option value="{{restaurantToEdit.priority}}">{{restaurantToEdit.priority}}</option>
            <option value="Top Priority">Top Priority</option>
            <option value="Must Go">Must Go</option>
            <option value="Maybe">Maybe</option>
            <option value="If Nothing Better To Do">If Nothing Better To Do</option>
        </select>
    </label>

    <label>Ambience:
        <select name="ambience">
            <option value="{{restaurantToEdit.ambience}}">{{restaurantToEdit.ambience}}</option>
            <option value="formal">Formal</option>
            <option value="casual">Casual</option>
            <option value="business">Business</option>
            <option value="with friends">With Friends</option>
            <option value="date">Date</option>
            <option value="hip">Hip</option>
        </select>
    </label>

    <label> Notes:
        <textarea rows="5" cols="50" name="notes" value="{{restaurantToEdit.notes}}">{{restaurantToEdit.notes}}</textarea>
    </label>

<form>
    <button type="submit"> Update restaurant </button>
</form>

<a href="/restaurants"> List of all restaurants here!</a>